table{
    margin: auto;
    font-size: 20px;
}
tr:not(:nth-last-child(1)) td, tr:not(:nth-child(1)) th{
    border-bottom-style: dotted;
}
tr:not(:nth-child(1)) th, td:not(:nth-last-child(1)){
    border-right: dotted;
}
tr:nth-child(1){
            background-color: #808080;
        }
tr:nth-child(2n+3){
    background-color: #d3d3d3;
}
tr:nth-last-child(1){
    background-color: white;
    text-align: center;
    width: inherit;
}
tr:hover:not(:nth-last-child(1), :nth-child(1)){
    background-color: aqua;
}
